*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
src/static/images/technology/hadoop.svg filter=lfs diff=lfs merge=lfs -text
src/static/images/technology/hive.svg filter=lfs diff=lfs merge=lfs -text
src/static/images/technology/nginx.svg filter=lfs diff=lfs merge=lfs -text
src/static/images/technology/svn.svg filter=lfs diff=lfs merge=lfs -text
