body{
    margin: 0;
}

header{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 70%;
}

#logo{
    text-align: center;
    margin: 0 auto 0 auto;
}

#logo>h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    letter-spacing: rem;
}

section h2{
    margin: 0;
    color: white;
    font-family: "Orbitron", sans-serif;
}

#technology{
    background-image: url(../images/njr-code.png);
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-position-x: -400px;
}

#motorsport{
    background-image: url(../images/topfuel_startline.jpg.jpeg);
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-position-x: -150px;
    background-position-y: -100px;
    background-size: 300%;
}

.gradient{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(31, 31, 31, 1), rgba(31, 31, 31, 1), rgba(31, 31, 31, 0));
    display: flex;
    align-items: flex-end;
}

.text{
    height: 50%;
    width: 100%;
}

.text>div{
    padding: 10px;
}

