{% include 'header.html' %}
<main>
    <section id="article">
        <h1>{{ metadata.title}} </h1>
        <p>{{ metadata.date | human_date }}</p>
        <hr />
        {{post|safe}}
    </section>
    <section id="comments">
        <h2>{{ comments | length }} comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment[2] }}</strong>
                <p>{{ comment[3] }}</p>
            </div>
        {% endfor %}
        <form action="/comments/{{ metadata.id }}" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" />
            <label for="comment">Comment:</label>
            <textarea name="comment"></textarea>
            <input type="submit" name="submit" value="Submit">
        </form>
    </section>
</main>
{% include 'footer.html' %}