{% include 'header.html' %}
<main>
    <h2>Contact Me</h2>
    <p>Got a question or want to talk about something on this site? Drop me a message below:</p>

    <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="email">Email Address:</label>
        <input type="email" name="email">
        <label for="message">Message:</label>
        <textarea name="message"></textarea>
        <input type="submit" name="submit" value="Submit">
    </form>
</main>
{% include 'footer.html' %}