{% include 'header.html' %}
    <main>
        <section id="technology">
            <div class="gradient gradient-left">
                <div class="spacer"></div>
                <div class="text text-left">
                    <div>
                        <h2>Technology</h2>
                        <hr>
                        <p>Technology is my day job. I design and build distributed systems for large companies around the world.</p>
                        <p>
                            I also work with technology in my spare time, building systems for <a href="#motorsport">Nitro Junkie</a>, and for me to use personally. For example, the current iteration of this website is written in Python and deployed via a Jenkins pipeline to Google Cloud Run as a Docker container.
                        </p>
                        <p>
                            Below are some of the technologies I'm using most at the moment.
                            My personal projects can also be found over on the <a href="/projects/">projects</a> page. Be aware though that if I'm able to write about a project here, it most likely wasn't done professionally so some may be a little rough around the edges.
                        </p>
                        <div id="techlogos">
                            <a href="https://ansible.com"><img src="/static/images/technology/ansible.png" /></a>
                            <a href="https://aws.amazon.com/"><img src="/static/images/technology/aws.png" /></a>
                            <a href="https://azure.microsoft.com/en-gb"><img src="/static/images/technology/azure.png" /></a>
                            <a href="https://dotnet.microsoft.com/en-us/languages/csharp"><img src="/static/images/technology/csharp.png" /></a>
                            <a href="https://www.debian.org/"><img src="/static/images/technology/debian.png" /></a>
                            <a href="https://www.digitalocean.com/"><img src="/static/images/technology/digitalocean.png" /></a>
                            <a href="https://www.docker.com/"><img src="/static/images/technology/docker.png" /></a>
                            <a href="https://www.freeipa.org/"><img src="/static/images/technology/freeipa.png" /></a>
                            <a href="https://cloud.google.com/"><img src="/static/images/technology/gcloud.png" /></a>
                            <a href="https://git-scm.com/"><img src="/static/images/technology/git.png" /></a>
                            <a href="https://www.grafana.com/"><img src="/static/images/technology/grafana.png" /></a>
                            <a href="https://hadoop.apache.org/"><img src="/static/images/technology/hadoop.svg" /></a>
                            <a href="https://hive.apache.org/"><img src="/static/images/technology/hive.svg" /></a>
                            <a href="https://www.java.com/"><img src="/static/images/technology/java.png" /></a>
                            <a href="https://www.jenkins.io/"><img src="/static/images/technology/jenkins.png" /></a>
                            <a href="https://mariadb.org/"><img src="/static/images/technology/mariadb.png" /></a>
                            <a href="https://nginx.org/"><img src="/static/images/technology/nginx.svg" /></a>
                            <a href="https://www.proxmox.com/"><img src="/static/images/technology/proxmox.png" /></a>
                            <a href="https://www.python.org/"><img src="/static/images/technology/python.png" /></a>
                            <a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux"><img src="/static/images/technology/redhat.png" /></a>
                            <a href="https://rockylinux.org/"><img src="/static/images/technology/rocky.png" /></a>
                            <a href="https://subversion.apache.org/"><img src="/static/images/technology/svn.svg" /></a>
                        </div>
                        <div id="certs">
                            <a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=A6C9B3D3D21627EB9C2504395194FAF772E01412911D4ADC78063133D54579ED"><img src="/static/images/certs/OCIF2023CA.png" /></a>
                        </div>
                        <div class="social">
                            <a class="button" href="https://www.linkedin.com/in/jakecharman/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="button" href="https://github.com/jcharman/"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="motorsport">
            <div class="gradient gradient-right">
                <div class="spacer"></div>
                <div class="text text-right">
                    <div>
                        <h2>Racing</h2>
                        <hr />
                        <p>When I'm not at work, I can often be found at <a href="https://santapod.com">Santa Pod Raceway</a> with <a href="https://nitrojunkie.uk">Nitro Junkie Racing</a></p>
                        <p>We run a Top Fuel motorcycle purpose built for drag racing. The engine is loosely based on a Kawasaki Z 1000, but supercharged, and nitromethane injected to produce around 1,000 horsepower.</p>
                        <p>I've also had the opportunity to work on a 10,000 horsepower Top Fuel Dragster. I <a href="https://nitrojunkie.uk/news/post/10000_horses">wrote about this on the Nitro Junkie website.</a></p>
                        <div class="gallery">
                            <img src="/static/images/jake_tf_1.jpg">
                            <iframe class="yt" src="https://www.youtube.com/embed/Wa-V8mQTXFk?si=W-LzfR3Qj_jgAdkY&amp;clip=UgkxV9lBj4pP1cvnR5seb82RQpWeE7RdnOXB&amp;clipt=EOrWtgsYyqu6Cw&amp;autoplay=1&amp;mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="social">
                            <a class="button" href="https://nitrojunkie.uk"><i class="fa-solid fa-globe"></i></a>
                            <a class="button" href="https://www.youtube.com/@NitroJunkieUK"><i class="fa-brands fa-youtube"></i></a>
                            <a class="button" href="https://www.facebook.com/nitrojunkie.uk"><i class="fa-brands fa-facebook"></i></a>
                            <a class="button" href="https://instagr.am/nitrojunkieuk"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% include 'footer.html' %}