@media (min-width: 1000px) {
    #technology{
        background-position-x: 35vw;
        height: fit-content;
        min-height: 75vh;
        background-position-y: 780px;
    }

    #motorsport{
        background-position-y: -180px;
        background-position-x: -200px;
        background-size: auto;
        height: fit-content;
        min-height: 75vh;
    }

    .text{
        width: 50%;
        height: 100%;
        align-items: flex-start;
        height: fit-content;
        min-height: 75vh
    }

    .text-right{
        margin-left: auto;
        margin-right: 0;
    }

    .text-left{
        margin-left: 0;
        margin-right: auto;
    }

    .gradient {
        display: flex;
        align-items: flex-end;
        background-image: linear-gradient(to top, rgba(23, 22, 20, 1) 70%, rgba(23, 22, 20, 0));
        min-height: 75vh;
    }

    .gradient-left{
        background-image: linear-gradient(to right, rgba(23, 22, 20, 1), rgba(23, 22, 20, 1), rgba(23, 22, 20, 0));
    }

    .gradient-right{
        background-image: linear-gradient(to left,  rgba(23, 22, 20, 1), rgba(23, 22, 20, 1), rgba(23, 22, 20, 0));
    }

    #projects{
        align-items: stretch;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto 0 auto;
        width: 80vw;
    }
    
    .project{
        width: 20vw;
    }

    #top-nav{
        float: right;
        width: fit-content;
        padding-right: 20px;
        position: relative;
        z-index: 999;
    }

    #logo-container{
        position: absolute;
        height: 25vh;
    }

    #article>p>img{
        display: inline;
    }
    #article>video{
        display: inline;
    }

    #certs>a {
        max-width: 15%;
    }

    #techlogos {
        max-height: 40%;
    }

    #techlogos>a{
        max-width: 5%;
    }

    .spacer {
        display: none;
    }

    .yt {
        width: calc(66% - 40px);
        min-height: 100%;
    }

    .gallery {
        display: flex;
        height: fit-content;
        padding: 10px 0;
    }

    .gallery * {
        padding: 0 20px;
    }

    .gallery>img {
        width: calc(33% - 40px);
    }

    #links {
        padding-left: 20px;
        padding-right: 20px;
    }
    .link>a>h3 {
        padding-top: 20px;
    }

    .photo-gallery>img {
        width: 20vw;
        padding: 10px;
        height: 14vw;
    }
}
