@media (min-width: 1000px) {
    #technology{
        background-position-x: 35vw;
        height: 75vh;
        min-height: 75vh;
    }

    #motorsport{
        background-position-y: -180px;
        background-position-x: -200px;
        background-size: auto;
        min-height: 75vh;
        height: 75vh;
    }

    .text{
        width: 50%;
        height: 100%;
        align-items: flex-start;
    }

    .text-right{
        margin-left: auto;
        margin-right: 0;
    }

    .text-left{
        margin-left: 0;
        margin-right: auto;
    }

    .gradient-left{
        background-image: linear-gradient(to right, rgba(23, 22, 20, 1), rgba(23, 22, 20, 1), rgba(23, 22, 20, 0));
    }

    .gradient-right{
        background-image: linear-gradient(to left,  rgba(23, 22, 20, 1), rgba(23, 22, 20, 1), rgba(23, 22, 20, 0));
    }

    #projects{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .project{
        width: 20vw;
        height: 25vw;
    }

    #top-nav{
        float: right;
        width: fit-content;
        padding-right: 20px;
    }
}