{% extends 'main.html' %}

{% block head %}
{% if metadata.gallery %}
    <script>
        document.addEventListener("DOMContentLoaded",function(){
            post_gallery = new Viewer(document.getElementById('article'), {
                'url': 'realsrc',
                'title': false
            });
        });
    </script>
{% endif %}
{% endblock %}

{% block content %}
<main>
    <section id="article">
        <h1>{{ metadata.title}} </h1>
        <p>{{ metadata.date | human_date }}</p>
        <hr />
        {{post|safe}}
    </section>
</main>
{% endblock %}