<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of Jake Charman. A technology professional based in the UK.">
    <title>{{ page_title }}{{branding}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/mobile.css" />
    <link rel="stylesheet" href="/static/style/desktop.css" />
    <link rel="stylesheet" href="/static/fonts/fontawesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="/static/images/jc.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css" integrity="sha512-9NawOLzuLE2GD22PJ6IPWXEjPalb/FpdH1qMpgXdaDM+0OfxEV75ZCle6KhZi0vM6ZWvMrNnIZv6YnsL+keVmA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/static/js/filter_projects.js"></script>
    <script src="/static/js/update_copyright.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6WMXXY0RL0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js" integrity="sha512-lZD0JiwhtP4UkFD1mc96NiTZ14L7MjyX5Khk8PMxJszXMLvu7kjq1sp4bb0tcL6MY+/4sIuiUxubOqoueHrW4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6WMXXY0RL0');
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav id="top-nav">
            <a href="/">About</a>
            <a href="/projects/">Projects</a>
            <a href="/contact/">Contact</a>
            <a href="/links/">Links</a>
        </nav>
        <div id="logo-container">
            <div id="logo">
                <a href='/'><h1>{{branding|upper}}</h1></a>
            </div>
        </div>
    </header>

{% block content %}{% endblock %}

<footer>
    <p>&copy <span id="cr-year"></span> {{branding}}. This site uses cookies.</p>
</footer>
</body>
</html>